
    :root{
        --branco-menos-branco:#f8f8f8;
        --header-footer: rgb(189, 50, 50);
        --black:#000;
        --branco:#FFF;
        --dark-gray:#a9a9a9;
        --gray:#808080;
        --box-shadow:#CCC;
        --red: #F00;
        --branco-menos-branco-2:#E7E3E3;
        --bsuites:#FB3E3E;
        --quase-preto:#0c0c0c;
        --very-dark-gray:#525252;
        --orange: #dd2227;
        --blue: #4a81ce;
          --gray: #ededed;
          
        
    }
