*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}


/*BANNER*/


.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .brand {
    font-size: 24px;
    color: var(--blue);
    cursor: pointer;
  }
  
  .content .header-block {
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background: var(--blue);
    border-radius: 8px;
    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10;
    padding: 10px;
  }
  
  .header-block img {
    width: 50%;
    position: absolute;
    right: 2%;
    bottom: 2%;
  }
  
  .header-block .text {
    position: absolute;
    bottom: 30%;
    left: 15%;
  }
  
  .header-block .text h2 {
    color: white;
    margin-bottom: 20px;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.5s;
  }
  
  .header-block .text p {
    max-width: 280px;
    color: white;
    text-align: right;
    transform: translateX(-20px);
    transition: transform 0.4s;
  }





    @media only screen and (max-width:1280px){
        .nav{
            padding: 8px;

        }
    }

/******CONTATO *****/

.content-cont{
  margin: 0 auto;
  width: 100%;
  
}
form{
  font: 1rem Open Sans;
  display: block;
}


.titulo{
  
    font: 3rem Open Sans, Times, sans-serif;
    font-weight: bold;
    color:rgb(222, 84, 25);
    text-align: center;
    margin: 15px 0;
   
}

.form-group{
  margin: 5px auto;
  padding: 5px;
  width: 400px;
  
}

.label-control{
  font-weight: bold;
  display: block;
  text-transform: capitalize;
}

.input-control, text-control{
  border: 1px solid#00000;
  border-radius: 30px;
  padding: 10px 5px;
  margin: 5px 0;
  width: 100%;
  box-shadow: 3px 3px #CCC;
  font: 1rem Open Sans;
  color: #F00;
}

.text-control{
  color: blue;
  font: 1rem Open Sans;
}

.btn-control{
  border: 1px solid #000;
  background: rgb(222, 84, 25);
  color: #FFF;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 5px;
  border-radius: 15px;
  cursor: pointer;
  width: 100px;
  
}

.btn-control:hover{
  background: linear-gradient(135deg, #F00, #FFF);
  color: #000;
  transition: 0.5s;
}

/********FOOTER**********/
footer{
  padding: 2rem 0 2rem;
  background: var(--header-footer);
  clear: both;
}
.copyright{
  color: var(--branco);
  text-align: center;
  font-weight: bold;
  font-size:18px;
}

/* Equipe */

section .equipe {
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(270px, 1fr));
  grid-gap: 30px;
  padding-top: 50px;
}

section .funcionarios {
  height: 520px;
  background: var(--gray);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
}

.conteudo {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.funcionarios img {
  width: 250px;
  height: 270px;
  border-radius: 5px;
}

.funcionarios p {
  width: 90%;
  font-style: italic;
  color: #00000070;
}

@media screen and (max-width: 375px){
    body{
      width: 100%;
    }

    .form-group{
      margin: 5px auto;
      padding: 5px;
      width: 300px;
      
    }

    #sobre.text-control{
      width: 300px;
    }


  }

